<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.faq.section | default: "faq" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.faq.title | markdownify | default: "Frequently Asked Questions" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.faq.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for faq in site.data.sitetext.faq.list %}
      <div class="col-10 mx-auto">
        <div class="accordion" id="faqExample">
            <div class="card">
                <div class="card-header p-2" id="faq-{{ forloop.index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.index}}" aria-expanded="false" aria-controls="collapse-{{forloop.index}}">
                          {{ faq.question | markdownify}}
                        </button>
                      </h5>
                </div>

                <div id="collapse-{{forloop.index}}" class="collapse" aria-labelledby="heading-{{forloop.index}}" data-parent="#faqExample">
                    <div class="card-body">
                      {{ faq.answer | markdownify}}
                      {% if forloop.index == 1 %}
                      <div style="width: 640px; height: 480px; margin: 0 auto;"><iframe allowfullscreen frameborder="0" style="display: block; width:640px; height:480px" src="https://lucid.app/documents/embeddedchart/bd2c74ec-1dee-4c6c-b314-75400e6c0135" id="8hcdTj2wnxCu"></iframe></div>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}